  :host ::ng-deep {
    height: calc(5vh);
    flex: 0 0 auto;
  }

  .fixed-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  mat-toolbar {
    background-color: #3f51b5; /* 好きな色に変更 */
    color: white; /* テキストの色を変更 */
  }

  .example-icon {
    color: white; /* ボタンの色を白に変更 */
  }
