<div class="input-form">
    <form [formGroup]="fg" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Movement</mat-label>
            <input matInput formControlName="movement">
        </mat-form-field>

        <label>VAS</label>
        <mat-slider>
            <input matSliderThumb  formControlName="vas">
        </mat-slider>

        <mat-form-field class="example-full-width">
            <mat-label>Memo</mat-label>
            <textarea matInput formControlName="memo" rows="4"></textarea>
        </mat-form-field>

        <div class="button-group">
            <button type="submit" mat-raised-button color="primary">Save</button>
            <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>