:host {
  height: 100vh;  /* ビューポート全体を占める */
  display: flex;
  flex-direction: column;
  overflow: hidden;  /* スクロール禁止 */
}

.table-container {
  height: calc(100vh - 10vh);
  margin-top: 84px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 640px; /* 最大高さ */
  overflow-y: auto;
}

:host ::ng-deep .table-container::-webkit-scrollbar {
  width: 12px;
}

:host ::ng-deep .table-container::-webkit-scrollbar-track {
  background: #e0f7fa; /* 淡い水色の背景 */
  border-radius: 10px;
}

:host ::ng-deep .table-container::-webkit-scrollbar-thumb {
  background: #0263ff; /* 単色背景 */
  border-radius: 10px;
  border: 2px solid #e0f7fa; /* 水色の枠線で統一感 */
}

:host ::ng-deep .table-container::-webkit-scrollbar-thumb:hover {
  background: #38c3ff; /* ホバー時の単色背景 */
}
